<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FSCServer</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Regist</servlet-name>
    <servlet-class>com.servlet.parent_servlet.Regist</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.parent_servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReceiveCheck</servlet-name>
    <servlet-class>com.servlet.parent_servlet.ReceiveCheck</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckList</servlet-name>
    <servlet-class>com.servlet.teacher_servlet.CheckList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Checked</servlet-name>
    <servlet-class>com.servlet.teacher_servlet.Checked</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>News</servlet-name>
    <servlet-class>com.publicport.News</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/servlet/Regist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveCheck</servlet-name>
    <url-pattern>/servlet/ReceiveCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckList</servlet-name>
    <url-pattern>/servlet/CheckList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checked</servlet-name>
    <url-pattern>/servlet/Checked</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/servlet/News</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>